@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));

  --color-primary: oklch(var(--primary));
  --color-primary-foreground: oklch(var(--primary-foreground));

  --color-secondary: oklch(var(--secondary));
  --color-secondary-foreground: oklch(var(--secondary-foreground));

  --color-destructive: oklch(var(--destructive));
  --color-destructive-foreground: oklch(var(--destructive-foreground));

  --color-muted: oklch(var(--muted));
  --color-muted-foreground: oklch(var(--muted-foreground));

  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(var(--accent-foreground));

  --color-popover: oklch(var(--popover));
  --color-popover-foreground: oklch(var(--popover-foreground));

  --color-card: oklch(var(--card));
  --color-card-foreground: oklch(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --color-sidebar: oklch(var(--sidebar));
  --color-sidebar-foreground: oklch(var(--sidebar-foreground));
  --color-sidebar-primary: oklch(var(--sidebar-primary));
  --color-sidebar-primary-foreground: oklch(var(--sidebar-primary-foreground));
  --color-sidebar-accent: oklch(var(--sidebar-accent));
  --color-sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground));
  --color-sidebar-border: oklch(var(--sidebar-border));
  --color-sidebar-ring: oklch(var(--sidebar-ring));

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0.25 0.06 281.14;
    --foreground: 0.95 0.01 260.73;
    --card: 0.29 0.06 281.14;
    --card-foreground: 0.95 0.01 260.73;
    --popover: 0.25 0.06 281.14;
    --popover-foreground: 0.95 0.01 260.73;
    --primary: 0.63 0.26 340.26;
    --primary-foreground: 1 0 0;
    --secondary: 0.25 0.06 281.14;
    --secondary-foreground: 0.95 0.01 260.73;
    --muted: 0.29 0.06 281.14;
    --muted-foreground: 0.62 0.05 278.1;
    --accent: 0.89 0.17 171.27;
    --accent-foreground: 0.16 0.04 281.83;
    --destructive: 0.65 0.23 34.04;
    --destructive-foreground: 1 0 0;
    --border: 0.33 0.08 280.79;
    --input: 0.33 0.08 280.79;
    --ring: 0.67 0.29 341.41;
    --chart-1: 0.67 0.29 341.41;
    --chart-2: 0.55 0.29 299.1;
    --chart-3: 0.84 0.15 209.29;
    --chart-4: 0.89 0.17 171.27;
    --chart-5: 0.92 0.19 101.41;
    --sidebar: 0.16 0.04 281.83;
    --sidebar-foreground: 0.95 0.01 260.73;
    --sidebar-primary: 0.67 0.29 341.41;
    --sidebar-primary-foreground: 1 0 0;
    --sidebar-accent: 0.89 0.17 171.27;
    --sidebar-accent-foreground: 0.16 0.04 281.83;
    --sidebar-border: 0.33 0.08 280.79;
    --sidebar-ring: 0.67 0.29 341.41;
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: undefined;
    --font-mono: Fira Code, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 2px 4px -3px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 4px 6px -3px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
      0px 8px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.tl-background {
  background-color: var(--background) !important;
}

.tl-container {
  outline: none !important;
}

.tlui-button__tool[aria-checked="true"]:not(:disabled)::after {
  background: oklch(0.63 0.26 340.26) !important;
}

.tlui-toolbar__tools {
  background: oklch(0.25 0.06 281.14) !important;
}
